.fondo-vistaprincipal {
  padding: 20px;
  background: linear-gradient(to right, #93FAF6, #FFB1FF);
}

.botones-vistaprincipal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.round-button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}

.card-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  width: 30%;
  margin-bottom: 20px;
  flex: 0 0 calc(33.33% - 20px); /* Establece el ancho de cada tarjeta al 33.33% del contenedor y resta el espacio de padding */

}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text {
  font-size: 16px;
}

.text p {
  margin: 5px 0;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
.round-button-card {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #0c0c0c; /* Color de fondo */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
