/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: #010101;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    height: 80px; /* Ajusta la altura según tu logo */
    width: auto;
    margin-right: 10px;
}

.navbar-btns {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-btns li {
    margin-right: 10px;
}

.navbar-btns li:last-child {
    margin-right: 0;
}

.navbar-btns li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-btns li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.container-botones {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos de los botones */
.boton {
	display: inline-block;
	background-color: #000;
	color: #fff;
	padding: 20px 30px; /* Aumentamos el tamaño del padding */
	border-radius: 50px; /* Hace que el botón sea redondo */
	text-decoration: none;
	font-size: 20px; /* Aumentamos el tamaño de la fuente */
	border: none;
	cursor: pointer;
	align-items: center;
	display: flex;
	justify-content: center;
    margin: 0 10px; /* Agrega margen horizontal entre los botones */

}

.contenedor-tarjetas {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos de las tarjetas */
.tarjeta {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1; /* Para que las tarjetas se expandan igualmente */
    margin: 0 20px; /* Espacio entre las tarjetas */
    max-width: 300px; /* Ancho máximo de cada tarjeta */
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block; /* Cambia la visualización a en línea */

}

.tarjeta img {
    width: 400px; /* Ancho deseado para todas las imágenes */
    height: 200px; /* Altura automática para mantener las proporciones originales */
    display: block; /* Evitar espacios adicionales debajo de las imágenes */
    }

    footer {
        background-color: #000;
        color: #fff;
        padding: 20px 0;
      }
      
      .footer-container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
      }
      
      .footer-column {
        flex: 1;
        margin-right: 20px;
      }
      
      .footer-column h3 {
        font-size: 16px;
        margin-bottom: 10px;
      }
      
      .footer-column ul {
        list-style-type: none;
        padding: 0;
      }
      
      .footer-column ul li {
        margin-bottom: 5px;
      }
      
      .footer-column ul li a {
        color: #fff;
        text-decoration: none;
      }
      
      .footer-column ul li a:hover {
        color: #ccc;
      }
      
      .footer-bottom {
        text-align: center;
        margin-top: 20px;
      }
      
      .footer-bottom p {
        font-size: 14px;
      }
      

