.navbar {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 20px; /* Alineación a la izquierda */
  font-size: 20px;
}

.logo {
  height: 80px;
  margin-left: 20px;
  width: auto; /* Alineación a la derecha */
}
