/* register.css */

.container-registro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
  }
  
  .login-link {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 15px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px; /* Hacemos el botón redondo ajustando el radio de borde */
    text-decoration: none;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button-registro {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }
  