.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px auto;
  width: 80%;
}


.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  width: 300px;
}

.card-image {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 200px;
}


.text {
  margin-top: 10px;
}

strong {
  font-size: 18px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
